/* Pallet 
White - #FFFFFF
Brown(App icon color) - #834B2D
Dark red - #4B1B1E
Light Red - #7E5658
Green - #495F31
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
line-height: 1;
background: white;
font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
color: #834B2D;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.stepoverlay {
  z-index: 999;
  opacity: 0;
  transition: all 1s ease;
  width: 100%;
  display: block;
  height: 100vh;
  background: white;
  position: absolute;
}

#step1 {
  opacity: 0;
  transition: all 1s ease;
  background-color: white;
}

#step1text {
  background-color: white;
  color: #834B2D;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step1img {
  width: 600px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 300px); 
}

#step2 {
  opacity: 0;
  transition: all 1s ease;
  background-color: #834B2D;
}

#step2text {
  background-color: #834B2D;
  color: white;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step2img {
  width: 150px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 75px); 
}

#step3 {
  opacity: 0;
  transition: all 1s ease;
  background-color: white;
}

#step3text {
  background-color: white;
  color: #834B2D;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step3img {
  width: 150px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 75px); 
}

#step4 {
  opacity: 0;
  transition: all 1s ease;
  background-color: #7E5658;
}

#step4text {
  background-color: #7E5658;
  color: white;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step4img {
  width: 666px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 333px); 
}


#entroverlay {
  z-index: 999;
  opacity: 1;
  transition: all .5s ease;

  width: 100%;
  display: block;
  height: 100vh;
  background: white;
  position: absolute;
}

#entroverlayimg {
  transition: all 1s ease;
  opacity: 0;
  width: 600px;
  position: relative;
  display: block;
  margin-top: 400px;
  margin-left: calc(50% - 300px); 
}


#entrload {
  width: 70%;
  height: 20px;
  margin-left: 15%;
  margin-top: 40px;
  border-bottom-color: #834B2D;
  border-bottom-style: solid;
  transition: all 1s ease;
  border-bottom-width: 5px;
  opacity: 0;
}

#loadfill{
  display: block;
  position: relative;
  background-color: #834B2D;
  transition: all .1s ease;
  width: 0;
  height: 20px;
}

#logintitl {
  font-size: 150px;
  color: #834B2D;
  font-weight: 200;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-top: 375px;
  font-family: 'Source Sans Pro', sans-serif;
}

#loginbod {
  overflow: hidden;
}

#loginform {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

input {
  display: block;
  position: relative;
  margin: 40px auto;
  width: calc(100% - 40px);
  font: 40px Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #ededed;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
}

input::-moz-placeholder {
  color: #b7b7b7; 
}

input::-webkit-input-placeholder {
  color: #b7b7b7; 
}

#loginbtn, #regbtn {
  display: block;
  position: relative;
  margin: 60px auto;
  color: white;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  font: 40px Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#bea292), to(#834b2d)) fixed;
  border-radius: 10px;
}

#frgtpsswrd {
  font-size: 50px;
  color: #834B2D;
}

#signuponlog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #b7b7b7;
}

#signuponlog p {
  padding: 50px 0;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

#signuponlog p a{
  color: #834B2D;
}

#content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#regtitl {
  font-size: 150px;
  color: #834B2D;
  font-weight: 200;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#regsub {
  font-size: 50px;
  color: #834B2D;
  font-weight: 200;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

#regform {
  width: 90%;
  display: block; 
  position: relative;
  margin: 60px auto;
}

#backBtnReg {
  font-size: 40px;
  color: #834B2D;
}

#logBod {
  opacity: 0;
  transition: all .35s ease;
}

.blobs {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.blob {
  position: absolute;
  background: #834B2D;
  left: 50%;
  top: 90vh;
  width: 100px;
  height: 100px;
  z-index: 998;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  transition: all .25s ease;
  -webkit-transform: scale(1.5);
            transform: scale(1.5);
}

#landhead {
  width: 100%;
  font-size: 65px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid #b7b7b7;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 998;
  top: 0;
  left: 0;
  color: #834B2D;
  text-align: center;
  padding: 35px 0;
}

#prof {
  display: block;
  width: 100%;
  margin-top: 175px;
}

#prof img {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  border-radius: 100%;
  z-index: 5;
  transition: all .25s ease;
  opacity: 1;
}

#userPlace {
  width: 100%;
  font-size: 60px;
  text-align: center;
}

.container{
  width: 330px;
  height: 330px;
  margin: 30px auto;
}

.circle{
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #FFF;
}

.active-border{
  position: relative;
  text-align: center;
  width: 310px;
  height: 310px;
  border-radius: 100%;

  background-color:#834B2D;
  background-image:
      linear-gradient(91deg, transparent 50%, #FFF 50%),
      linear-gradient(90deg, #FFF 50%, transparent 50%);
}

#ptsholder {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  margin-top: -305px;
  margin-left: -5px;
  border: 5px solid #834B2D;
  color: #834B2D;
  border-radius: 100%;
  font-size: 150px;
  text-align: center;
  line-height: 300px;
  font-weight: 100;
  display: none;
  z-index: 4;
  transition: all .25s ease;
}

#bio {
  width: 70%;
  display: block;
  margin: 50px auto;
  position: relative;
  font-size: 40px;
  color: #834B2D;
}

#givept {
  background-color: #4B1B1E;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 65px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 160px;
  margin: 100px auto;
  position: relative;
  display: block;
}

#givept i {
  padding-bottom: 20px;
}