body, h1, h2, h3, h4, h5, h6, p {
    overflow:hidden;
    display: block;
    margin:0;
    padding:0;

    color: #fff;

    background-color: #000;
}

#noudont {
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size:400%;
    padding-top: 30%;
}



.Task {
    height: 100px;
}

.Message {
    display: block;
}

#ChatWrapper {
    width: 80%;
    border-color: #eee;
    border-style: solid;
    border-width: 1px;

    margin:0;
    padding:0;


    height: 500px;

    overflow-y: scroll;
}

.Page {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#Game {
    display:none;
}

#Inv tr td {
    height: 32px;
    width: 32px;
    
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
}

section {
    padding: 0;
    margin: 0;
    width: 50%;
    display: inline-block;
}

#LocationTableLabel {
    display:inline;
}
