/* EDITPROF STYLES */

#profpic {
  margin-top: 150px;
  width: 100%;
  display: block;
  position: relative;
}

#profpic p {
  font-size: 40px;
  width: 100%;
  text-align: center;
}

#profpic input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 25px 40px;
  font-size: 40px;
  cursor: pointer;
  display: block;
  width: 60%;
  position: relative;
  margin: 30px auto;
  text-align: center;
  background-color: #834B2D;
  color: white;
}

#upBioBtn {
  padding: 25px 40px;
  font-size: 40px;
  cursor: pointer;
  display: block;
  width: 60%;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #834B2D;
  color: white;
}

#sendProf {
  width: 50%;
  background-color: grey;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  color: white;
  transition: all .5s ease;
  display: none;
}

#fakeloadlmao {
  width: 80%;
  height: 40px;
  display: block;
  position: relative;
  margin: 20px auto;
  border: 1px solid gray;
  transition: all .5s ease;
  opacity: 0;
  text-align: center;
  font-size: 40px;
}

#loadfiller{
  height: 40px;
  width: 0;
  transition: all .5s ease;
  background-color: #834B2D;
}

#edprf{
  display: block;
  width: 333px;
  height: 333px;
  margin: 20px auto;
  border-radius: 100%;
}

textarea {
  width: 80%;
  font-size: 36px;
  display: block;
  position: relative;
  margin: 20px auto;
  border: none;
  margin-bottom: 10px;
  height: 20vh;
  padding: 10px;
}