/* Pallet 
White - #FFFFFF
Brown(App icon color) - #834B2D
Dark red - #4B1B1E
Light Red - #7E5658
Green - #495F31
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
line-height: 1;
background: white;
font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
color: #834B2D;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: initial;
}

.stepoverlay {
  z-index: 999;
  opacity: 0;
  transition: all 1s ease;
  width: 100%;
  display: block;
  height: 100vh;
  background: white;
  position: absolute;
}

#step1 {
  opacity: 0;
  transition: all 1s ease;
  background-color: white;
}

#step1text {
  background-color: white;
  color: #834B2D;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step1img {
  width: 600px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 300px); 
}

#step2 {
  opacity: 0;
  transition: all 1s ease;
  background-color: #834B2D;
}

#step2text {
  background-color: #834B2D;
  color: white;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step2img {
  width: 150px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 75px); 
}

#step3 {
  opacity: 0;
  transition: all 1s ease;
  background-color: white;
}

#step3text {
  background-color: white;
  color: #834B2D;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step3img {
  width: 150px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 75px); 
}

#step4 {
  opacity: 0;
  transition: all 1s ease;
  background-color: #7E5658;
}

#step4text {
  background-color: #7E5658;
  color: white;
  font-size: 100px;
  font-weight: 200;
  width: 100%;
  text-align: center;
  padding-top: 250px;
  font-family: 'Source Sans Pro', sans-serif;
}

#step4img {
  width: 666px;
  position: relative;
  display: block;
  margin-top: 100px;
  margin-left: calc(50% - 333px); 
}


#entroverlay {
  z-index: 999;
  opacity: 1;
  transition: all .5s ease;

  width: 100%;
  display: block;
  height: 100vh;
  background: white;
  position: absolute;
}

#entroverlayimg {
  transition: all 1s ease;
  opacity: 0;
  width: 600px;
  position: relative;
  display: block;
  margin-top: 400px;
  margin-left: calc(50% - 300px); 
}


#entrload {
  width: 70%;
  height: 20px;
  margin-left: 15%;
  margin-top: 40px;
  border-bottom-color: #834B2D;
  border-bottom-style: solid;
  transition: all 1s ease;
  border-bottom-width: 5px;
  opacity: 0;
}

#loadfill{
  display: block;
  position: relative;
  background-color: #834B2D;
  transition: all .1s ease;
  width: 0;
  height: 20px;
}

input {
  display: block;
  position: relative;
  margin: 40px auto;
  width: calc(100% - 40px);
  font: 40px Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #ededed;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
}

input::-moz-placeholder {
  color: #b7b7b7; 
}

input::-webkit-input-placeholder {
  color: #b7b7b7; 
}

#content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}


/* NAV STYLES */

.blob {
  position: absolute;
  background: #834B2D;
  left: 20%;
  top: 90vh;
  width: 90px;
  height: 90px;
  z-index: 999;
  line-height: 85px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  transition: all .25s ease;
  -webkit-transform: scale(1.5);
            transform: scale(1.5);
  position: fixed;
}

.blob i {
  font-size: 35px;
}

#landhead {
  width: 100%;
  font-size: 65px;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 1px solid #b7b7b7;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 998;
  top: 0;
  left: 0;
  color: #834B2D;
  text-align: center;
  padding: 35px 0;
}



#uploadtitle {
  margin-top: 175px;
  margin-bottom: 30px;
  font-size:46px;
  width: 100%;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

#selfieupload {
  background-color:#1925aa;

}

#memeupload {
  background-image: url("../images/memeBack.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.comingsoon {
  display: block;
  position: relative;
  margin: 60px auto;
  color: #ddd;
  padding: 45px 0;
  text-align: center;
  width: calc(85% - 4px);
  font: 50px Arial, Helvetica, sans-serif;
  background-color: white;
  border-style: dashed;
  border-width: 2px;
  border-color: #ddd;
  border-radius: 10px;
}

.uploadbutton {
  display: block;
  position: relative;
  margin: 60px auto;
  color: white;
  padding: 45px 0;
  text-align: center;
  width: 85%;
  font-size: 44px;
  font-weight: 200;
  background-color: #834b2d;
  border-radius: 10px;
}

#comparetitle{
  margin-top: 175px;
  margin-bottom: 30px;
  font-size:46px;
  width: 100%;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0;
}

#comparebtn {
  background: #834B2D;
  left: 80%;
  top: 90vh;
  width: 90px;
  height: 90px;
  z-index: 999;
  line-height: 85px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  transition: all .25s ease;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  position: fixed;

}

#uploadbox {
  width: 80%;
  margin-left: 10%;
  height: 300px;
  border: 5px solid #834B2D;
  border-radius: 25px;

  transition: all 1s ease;
}

#uploadboxlabel {
  font-size: 60px;
  padding-top: 120px;
  cursor: pointer;
  display: block;
  width: 100%;
  height:calc(100% - 120px);
  position: relative;
  text-align: center;
  color: #834B2D;
  transition: all 1s ease;
}

#uploadboxupload {
  display: none;
}

#uploadboxsubmit{
  transition: all 1s ease;
  display: none;
  opacity: 0;
  font-size: 60px;
  margin-left: 15%;
  padding: 0;
  cursor: pointer;
  width: 70%;
  height:40%;
  text-align: center;
  background-color: #eee;
  color: #834B2D;
  border: 5px solid #834B2D;
  border-radius: 25px;
}

#uploadboxcancel{
  transition: all 1s ease;
  opacity: 0;
  display: none;
  font-size: 40px;
  margin-left: 30%;
  cursor: pointer;
  width: 40%;
  height: 60px;
  text-align: center;
  background-color: #eee;
  color: #834B2D;
  border: 5px solid #834B2D;
  border-radius: 25px;
}

#gnrlTitle1 {
  margin-top: 175px;
}

.compareDiv{
  height: calc(50vh - 68px);
  width: 100%;
  display: block;
  background-size: cover;
  transition: margin-top .5s ease;
}

#compareOption1 {
  margin-top: 136px;
  z-index: 0;
}

#compareOption2 {
  z-index: 0;
}

.expdiv i {
  font-size: 60px;
  padding: 20px 24px;
  
}

.expdiv {
  position: absolute;
  margin-top: 25px;
  margin-right: 25px;
  right: 0;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: rgba(255,255,255,.7);
  z-index: 5;
  display: block;
}

#expdiv1 {
  margin-top: calc(66% - 25px);
}

#catspan {
  position: absolute;
  display: grid;
  padding: 20px 40px;
  background-color: rgba(255,255,255,.7);
  border-radius: 50px;
  font-size: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  width: 440px;
  z-index: 100;
}

#overlay {
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1004;
  position: absolute;
  background-color: rgba(0,0,0,.6);
  display: none;
}

#compareOption1pre { 
  background: url("") no-repeat -9999px -9999px; 
}
#compareOption2pre { 
  background: url("") no-repeat -9999px -9999px; 
}
#catTiles {
  width: 100%;
  display: block;
  white-space: nowrap;
}
.catTile {
  width: calc(50% - 60px);
  display: inline-block;
  padding: 30px;
  font-size: 40px;
  color: white;
}
#generaltile {
  background-color: #834B2D;
}
#selfietile {
  background-color: #1925aa;
}
#memetile {
  background-image: url("../images/memeBack.jpg");
}
.tileScore {
  float: right;
}